<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.InitiativeMapper">

    <resultMap type='Initiative' id='InitiativeResult'>
        <id property='id' column='id'/>
        <result property='numVotes' column='num_votos'/>
        <result property='description' column='description'/>
        <result property='area' column='area'/>
        <result property='creationDate' column='creation_date'/>
        <result property='modifyDate' column='modify_date'/>
        <association property='user' javaType='User' columnPrefix="user_" resultMap='edu.eci.pdsw.persistence.mybatisimpl.mappers.UserMapper.UserResult'></association>
        <association property='status' javaType='TypeStatus' resultMap='edu.eci.pdsw.persistence.mybatisimpl.mappers.InitiativeMapper.StatusResult'></association>
    </resultMap>

    <resultMap type='TypeStatus' id='StatusResult'>
        <id property='id' column='id'/>
        <result property='status' column='status'/>
    </resultMap>

    <insert id="createInitiative" parameterType="Initiative">
        INSERT INTO "initiative"
        (id, description, area,creation_date,User_id,modify_date,type_status_id, "Name")
        VALUES((select count(*)+1 from "initiative"),#{description},#{area},#{creation},#{idus},#{modification},#{state},#{name})
    </insert>

    <select id='getInitiative' resultMap= 'InitiativeResult' parameterType='map'>
        SELECT distinct on (i.id)
        i.id,
        i.num_votos,
        i.description,
        i.area,
        i.creation_date,
        i.modify_date,
        i.user_id,
        u.id as user_id,
        u.name as user_name,
        u.email as user_email,
        u.type_user as user_type_user,
        u.password as user_password
        FROM Initiative as i
        INNER JOIN User as u on u.id = i.user_id
        where area = #{area};
    </select>

    <update id="updateState">
        update initiative set type_status_id= #{newStatus} where id= #{id};
    </update>

    <update id="updateInitiative">
        update initiative set description= #{description}, area= #{area}, description= #{description} where "id"= #{id};
    </update>

</mapper>