<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.jtams.persistence.mybatisimpl.mappers.InitiativeMapper">

    <resultMap type='Initiative' id='InitiativeResult'>
        <id property='id' column='id'/>
        <result property='numVotes' column='num_votos'/>
        <result property='description' column='description'/>
        <result property='area' column='area'/>
        <result property='creationDate' column='creation_date'/>
        <result property='modifyDate' column='modify_date'/>
        <result property='status' column='Type_Status_id'/>
        <association property='user' javaType='User' columnPrefix="user_" resultMap='edu.eci.cvds.jtams.persistence.mybatisimpl.mappers.UserMapper.UserResult'></association>
    </resultMap>

    <resultMap type='Initiative' id='InitiativeResult1'>
        <id property='id' column='id'/>
        <result property='numVotes' column='num_votos'/>
        <result property='description' column='description'/>
        <result property='area' column='area'/>
        <result property='creationDate' column='creation_date'/>
        <result property='modifyDate' column='modify_date'/>
        <result property='status' column='Type_Status_id'/>
    </resultMap>

    <resultMap type='Initiative' id='InitiativeResult2'>
        <id property='id' column='id'/>
        <result property='numVotes' column='num_votos'/>
        <result property='description' column='description'/>
        <result property='area' column='area'/>
        <result property='creationDate' column='creation_date'/>
        <result property='modifyDate' column='modify_date'/>
        <result property='status' column='Type_Status_id'/>
        <collection property='keywords' ofType='edu.eci.cvds.jtams.model.Keyword'
                    resultMap="edu.eci.cvds.jtams.persistence.mybatisimpl.mappers.KeywordMapper.KeywordResult" columnPrefix="i_keyword" ></collection>
    </resultMap>
    
    <resultMap type='edu.eci.cvds.jtams.model.InitiativeState' id='InitiativeState'>
        <id property='id' column='id'/>
        <result property='status' column='status'/>
    </resultMap>

    <insert id="createInitiative" parameterType="Initiative">
        INSERT INTO "initiative" (id, description, area, num_votos,creation_date,User_id,modify_date,type_status_id)						
        VALUES((select count(*)+1 from "initiative"),#{description},#{area},#{numVotes},#{creationDate},#{userId},#{modifyDate},#{typeStatusId})
    </insert>
    
    <insert id="createKeyword" parameterType="String">
    	INSERT INTO "keywords" (id ,keyword,idInitiative) VALUES((select count(*)+1 from "keywords"),#{keyword},(select count(*) from "initiative"));
    </insert>
    
    
    <update id='updateTypeUser'>
        update "initiative" set Type_Status_id=#{typeStatusId} where id=#{id};
    </update>

    <select id='getInitiative' resultMap= 'InitiativeResult' parameterType='map'>
        SELECT 
        i.id,
        i.num_votos,
        i.description,
        i.area,
        i.creation_date,
        i.modify_date,
        i.user_id,
        u.id as user_id,
        u.name as user_name,
        u.email as user_email,
        u.type_user as user_type_user,
        u.password as user_password,
        ts.id,
        ts.status 
        FROM Initiative as i
        INNER JOIN "User" as u on u.id = i.user_id
        INNER JOIN Type_Status as ts on ts.status = i.type_status_id
        where area = #{area};
    </select>

    <update id="updateState">
        update initiative set type_status_id= #{state} where id= #{id};
    </update>

    <update id="updateInitiative">
        update initiative set description= #{description}, area= #{area} where "id"= #{id};
    </update>
    
    <select id="dariniciativas" resultMap="InitiativeResult1" parameterType="map">
        SELECT * FROM Initiative;
    </select>

    <select id="getInitiativesByArea" resultMap="StatisticResult" parameterType="map">
        select
        count(i.area ) as total ,
        i.area
        from initiative as i
        group by i.area ;
    </select>

  
	<select id="buscainiciativaporpalabra" resultMap="InitiativeResult1" parameterType="String">
        SELECT *
        FROM initiative LEFT JOIN keywords on initiative.id = keywords.idInitiative
        WHERE keywords.keyword= #{keyword};
    </select>

    <resultMap type='edu.eci.cvds.jtams.model.Statistic' id='StatisticResult'>
        <result property='count' column='total'/>
        <result property='title' column='area'/>
    </resultMap>

</mapper>
