<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.jtams.persistence.mybatisimpl.mappers.UserMapper">

    <resultMap type='User' id='UserResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='email' column='email'/>
        <result property='password' column='password'/>
        <result property='type' column='type_user' typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
    </resultMap>

    <select id="getUser" resultMap="UserResult" parameterType="map">
        SELECT u.id,
        u.name,
        u.email,
        u.type_user,
        u.password
        FROM "User" as u
        WHERE email = #{username}
    </select>

    <select id='getUsers' resultMap= 'UserResult'>
        SELECT u.id,
        u.name,
        u.email,
        u.type_user ,
        u.password
        FROM "User" as u
    </select>

    <update id='updateUser'>
        update "User" set type_user=#{type_user}, email=#{email}, password=#{password}, name=#{name} where id= #{id};
    </update>

    <update id='updateTypeUser'>
        update "User" set type_user=#{type_user} where email=#{email};
    </update>

    <insert id="createUser" parameterType="User">
        INSERT INTO "User" (id, name, email, password, type_user) VALUES (#{id}, #{name}, #{email}, #{password}, #{type_user});
    </insert>
</mapper>